# Byte-code files
*.pyc
__pycache__/

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info
.installed.cfg
*.egg

# Environments
.env
.venv

# Jupyter Notebook/Colab outputs
.ipynb_checkpoints
*.ipynb_checkpoints

# IDE specific files (Optional, but often useful)
.vscode/
.idea/

# Datasets or large files (if applicable and not meant for repo)
*.csv
*.data
*.model
*.joblib

# Any other files you don't want to commit
# For example, saved models or output files
best_performing_model_pipeline.joblib
upsampled_training_data.csv